/* General */
html, body, #map-page, #map-container {
	padding: 0;
	margin: 0;
}

.ui-content > h2 {
	text-align: center;
}

/* Logo */
.logo {
	text-align: center;
}

/* Links */
.ui-page-theme-a a {
	text-decoration: none;
}

.ui-page-theme-a a:hover,
.ui-page-theme-a a:visited:hover {
	color: #004455;
}

.ui-page-theme-a a:visited {
	color: #AADD00;
}

/* Accordion */
.ui-collapsible .ui-btn {
	color: #FFFFFF;
	background: #004455;
	border-color: #004455;
	padding: 10px 10px 10px 40px;
}

.ui-collapsible .ui-btn:hover,
.ui-collapsible .ui-btn:focus {
	color: #FFFFFF;
	box-shadow: none;
	background: #003344;
	border-color: #003344;
}

/* Forms */
.ui-input-text.ui-corner-all {
	border-radius: .2em;
}

.ui-input-text input {
	min-height: 3em;
}

.ui-page-theme-a .ui-body-inherit {
	border-color: #DDDDDD;
}

.submit-btn .ui-btn {
	color: #FFFFFF;
	border-color: #004455;
	background-color: #004455;
}

.submit-btn .ui-btn:hover {
	color: #FFFFFF;
	border-color: #003344;
	background-color: #003344;
}

.remember-area {
	clear: both;
	overflow: hidden;
}

.remember-area .ui-checkbox {
	float: left;
}

.remember-area .remember {
	color: #AAAAAA;
	margin-left: 10px;
	vertical-align: -18px;
}

.remember-area .lost-password {
	float: right;
}

.remember-area .lost-password a {
	display: block;
	margin-top: 18px;
}

.ui-page-theme-a .ui-select .ui-btn.ui-shadow.ui-corner-all {
	border-color: #DDDDDD;
	padding: .9em;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: .2em;
  border-radius: .2em;
}

/* Validation errors */
label.error {
	color: #FF7777;
	margin-left: 8px;
}

/* Map */
#map {
	height: 100%;
}

#map-container {
	height: 100%;
}

#map-canvas {
	width: 100%;
	height: 100%;
}

/* Favorites button */
#addbtn.active {
	background: #EEEEFF;
}

/* Nav */
#navcontainer ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style-type: none;
}

#navcontainer a {
	color: #000000;
	width: 100%;
	display: block;
	text-decoration: none;
	padding: 3px 12px 3px 8px;
	border-bottom: 1px solid #000000;
}

#navcontainer li li a {
	width: 100%;
	display: block;
	font-weight: lighter;
	text-decoration: none;
	padding: 3px 3px 3px 17px;
	border-bottom: 1px solid #000000;
}

#navcontainer a:hover {
	background-color: #E8E8E8;
}

/* Share buttons */
.ui-popup-container {
	min-width: 200px;
}

#sharelinks {
	text-decoration: none;
}

.shareimage {
	font-size: 30px;
	color: #000000;
	background: #EEEEEE;
	border-radius: 5px;
	width: 25px;
	height: 30px;
	padding: 15px 20px;
}

/* Hide Hotel ID */
#hotelid {
	display: none;
}

/* Header */
.ui-header .ui-title {
	padding: 1em 0;
}

.ui-header .ui-btn-icon-notext.ui-btn-left {
	top: .7125em;
}

.ui-page-theme-a .ui-header .ui-btn {
	border-color: #AADD00;
	background-color: #AADD00;
}

/* List views */
.ui-listview > li {
	margin-bottom: 5px;
}

.ui-listview .ui-btn {
	border-radius: .6em;
}

.ui-listview > li.ui-first-child > a.ui-btn {
  -webkit-border-top-right-radius: .6em;
  border-top-right-radius: .6em;
  -webkit-border-top-left-radius: .6em;
  border-top-left-radius: .6em;
}

.ui-listview > li.ui-last-child > a.ui-btn {
	-webkit-border-bottom-right-radius: .6em;
  border-bottom-right-radius: .6em;
  -webkit-border-bottom-left-radius: .6em;
  border-bottom-left-radius: .6em;
}

.ui-btn {
	padding: 1.2em;
	box-shadow: inset 0px -1px 1px 0px rgba(0,0,0,0.15);
}

.ui-listview.ui-corner-all {
	border-radius: 0;
}

/* Footer */
.ui-footer a.ui-link.ui-btn {
	color: #FFFFFF;
	border-color: #003344;
	background-color: #004455;
	padding: 2.5em 1em .5em 1em;
}

.ui-footer a.ui-link.ui-btn:hover,
.ui-footer a.ui-link.ui-btn.ui-btn-active {
	background-color: #AADD00;
}
